{% extends "layout/layout.html.twig" %}

{% block content %} 

        <div class="" style="background-color: #f3f6f8">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-lg-9">
                            <div class="content">
                                <div class="page-title">
                                    <h1> Liste de vos stages</h1>
                                </div><!-- /.page-title -->

                                <div class="posts posts-condensed">
{% for s in stage.stages%}
                                    <div class="post">
                                        <div class="post-date">{{s.hdebut|date('d-m-y')}}</div><!-- /.post-date -->
                                        <div class="post-date">{{s.hfin|date('d-m-y')}}</div><!-- /.post-date -->

                                        <div class="post-content">
                                            <h2><a href="blog-detail.html">{{s.nom}}</a></h2>
                                            <p>{{s.description}}</p>
                                        </div><!-- /.post-content -->

                                        <div class="post-more">
                                            <a href="{{ path('stage_update',{'id':s.id})}}">Modifier</a>
                                            <a href="{{ path('stage_delete',{'id':s.id})}}">Supprimer</a>
                                            
                                        </div><!-- /.post-date -->
                                    </div><!-- /.post -->
 {%endfor%} 

                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

