{% extends "layout/layout.html.twig" %}
{% block content %}
    <div class="cards-row">
        {% for s in stage %}
            <div class="card-row">
                <div class="card-row-inner">

                    <a href=#>{{ s.nom }}</a>

                    <div class="card-row-body">

                        <h2 class="card-row-title"><a href=#>{{s.nom}}</a></h2>
                        <div class="card-row-content">

                            <p>{{s.description}}</p>
                            <p>{{s.tarif}}</p>
                            <p>{{s.infoCompl}}</p>
                            <p>{{s.debut|date('d/m/Y')}}</p>
                            
                            

                        </div>
                    </div><!-- /.card-row-body -->

                      
                   </div><!-- /.card-row-inner -->
               </div><!-- /.card-row -->

                {% endfor %}

            </div><!-- /.cards-row -->
            
            
        {% endblock %}