{% extends "layout/layout.html.twig" %}

{% block content %} 
    <div class="cards-simple-wrapper largeur centrage marg" >

        {% for u in categorie.utilisateurs %}
            {% if u.banni == false %}
                {% if u.typeuser == "prestataire" %}    

                    <div class="col-sm-6 col-md-3">
                        <div class="card-simple" data-background-image="../../../web/uploads/images/{{u.logo}}">
                            <div class="card-simple-background">
                                <div class="card-simple-content">
                                    <h2><a href="{{path('show_prestataire', {slug:u.username})}}">{{u.username}}</a></h2>

                                    <div class="card-simple-actions">
                                        <a href="{{path('show_prestataire', {slug:u.username})}}" class="fa fa-search"></a>
                                    </div><!-- /.card-simple-actions -->
                                </div><!-- /.card-simple-content -->
                                <div class="card-simple-label">{{u.localite}}</div>
                            </div><!-- /.card-simple-background -->
                        </div><!-- /.card-simple -->
                    </div><!-- /.col-* -->
                {% endif %}
            {% endif %}
        {%endfor%} 
    </div><!-- /.cards-simple-wrapper -->
{% endblock %}