{% extends "layout/layout.html.twig" %}

{% block content %} 
<div class="cards-simple-wrapper largeur centrage" >

    


{% for u in categorie.utilisateurs %}

                <div class="col-sm-6 col-md-3">
                    <div class="card-simple" data-background-image={% for c in u.images%}{{asset(c.url)}}{%endfor%} >
                        <div class="card-simple-background">
                            <div class="card-simple-content">
                                <h2><a href="{{path('show_prestataire', {slug:u.username})}}">{{u.username}} {{ u.typeUser}}</a></h2>
                                <div class="card-simple-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!-- /.card-rating -->
                                <div class="card-simple-actions">
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                    <a href="#" class="fa fa-search"></a>
                                    <a href="#" class="fa fa-heart-o"></a>
                                </div><!-- /.card-simple-actions -->
                            </div><!-- /.card-simple-content -->
                            <div class="card-simple-label">{{u.localite}}</div>
                            

                        </div><!-- /.card-simple-background -->
                    </div><!-- /.card-simple -->
                </div><!-- /.col-* -->
               {%endfor%} 
    </div><!-- /.cards-simple-wrapper -->
    {% endblock %}