{% extends "layout/layout.html.twig" %}

{% block content %}
    <div class="cards-simple-wrapper centrage" style="background-color: #FFF">
        <div class="main-inner">
            <div class="content">
                <div class="mt-80 mb80">
                        {% if presta.imagesgalerie is not empty %}
                        <div class="detail-banner" style= "background-image: url({{presta.imagesgalerie[0].url}}) " >
                        {% else %}
                        <div class="detail-banner" style= "background-image: url(assets/img/tmp/detail-banner-1.jpg) " >
                        {% endif %}
                        
                        <div class="container">
                            <div class="detail-banner-left">
                                <div class="detail-banner-info">
                                    {% for u in presta.categories %} <div class="detail-label"><a href="{{path('liste_prestataires_categorie', {'slug':u.nomCategorie})}}">{{ u.nomCategorie }}</a></div>{% endfor %}
                                    <div class="detail-verified">Verified</div>
                                </div><!-- /.detail-banner-info -->

                                <h2 class="detail-title">
                                    {{presta.username}}
                                </h2>

                                <div class="detail-banner-address">
                                    <i class="fa fa-map-o"></i> {{presta.adressenum}}, {{presta.adresse}} {{presta.codepostal}} {{presta.localite}} {{presta.commune}}
                                </div><!-- /.detail-banner-address -->

                            </div><!-- /.detail-banner-left -->
                        </div><!-- /.container -->
                    </div><!-- /.detail-banner -->

                </div>

                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-7">
                            <div class="detail-gallery">
                                <div class="detail-gallery-preview">
                                        {% if presta.imagesgalerie is not empty %}
                                        <a href="{{presta.imagesgalerie[0].url}}">
                                            <img src="{{presta.imagesgalerie[0].url}}">
                                        {% else %}
                                        <a href="{{asset("assets/img/tmp/gallery-1.jpg")}}">
                                            <img src="{{asset("assets/img/tmp/gallery-1.jpg")}}">    
                                        {% endif %}
                                    </a>
                                </div>
                                <ul class="detail-gallery-index">
                                    {%for i in presta.imagesgalerie %}
                                        <li class="detail-gallery-list-item active">
                                            <a data-target="{{i.url}}">
                                                <img src="{{asset(i.url)}}" alt="...">
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- /.detail-gallery -->


                            {% for s in presta.stages %}
                                <div class="pricings">
                                    <div class="col-sm-4">
                                        <div class="pricing">
                                            <div class="pricing-title"> {{ 'Stages' }}</div><!-- /.pricing-title -->
                                            <div class="pricing-title"> {{ s.nom }}</div><!-- /.pricing-title -->
                                            <div class="pricing-subtitle"> {{ s.description }}</div><!-- /.pricing-subtitle -->
                                            <div class="pricing-price"><span class="pricing-currency">Eur</span>{{ s.tarif }}</div><!-- /.pricing-price -->
                                            <a href="{{path('show_stage', {slug:s.nom})}}" class="btn-primary">Get Started</a>
                                            <hr>
                                            <ul class="pricing-list">
                                                <li><span>Date de début</span><strong> {{ s.hdebut|date('d-m-Y')}}</strong></li>
                                                <li><span>Date de fin</span><strong>   {{ s.hfin|date('d-m-Y') }}</strong></li>
                                            </ul><!-- /.pricing-list -->
                                            <hr>
                                            <a href="{{path('list_stages', {slug:s.nom})}}" class="pricing-action">Liste des stages</a>
                                        </div><!-- /.pricing -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.pricings -->
                            {% endfor %}

                        </div><!-- /.col-sm-7 -->


                        <div class="col-sm-5">



                            <h2>A propos de <span class="text-secondary">{{ presta.username }}</span></h2>
                            <div class="background-white p20">
                                <div class="detail-vcard">
                                    <div class="detail-logo">
                                        <img src="{{ presta.logo }}">
                                    </div><!-- /.detail-logo -->

                                    <div class="detail-contact">
                                        <div class="detail-contact-email">
                                            <i class="fa fa-envelope-o"></i> <a href="mailto:#">{{presta.email}}</a>
                                        </div>
                                        <div class="detail-contact-phone">
                                            <i class="fa fa-mobile-phone"></i> <a href="tel:#">{{presta.numtel}}</a>
                                        </div>
                                        <div class="detail-contact-website">
                                            <i class="fa fa-globe"></i> <a href="#">{{presta.site}}</a>
                                        </div>
                                        <div class="detail-contact-address">
                                            <i class="fa fa-map-o"></i>
                                            {{presta.adressenum}} {{presta.adresse}}<br>
                                            {{presta.codepostal}} {{presta.localite}} {{presta.commune}}
                                        </div>
                                    </div><!-- /.detail-contact -->
                                </div><!-- /.detail-vcard -->
                            </div>


                            <div class="detail-payments">
                                <h3>Accepted Payments</h3>

                                <ul>
                                    <li><a href="#"><i class="fa fa-paypal"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                                    <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- /.col-sm-5 -->
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}