{% extends "layout/layout.html.twig" %}
{% block content %}
    <div class="cards-row" >
        {% for a in prestataires %}
            <div class="card-row largeur centrage padding">
                <div class="card-row-inner">
                    <div class="card-row-image" data-background-image="{{a.logo}}">

                    </div>

                    <div class="card-row-body">

                        <h2 class="card-row-title"><a href="{{path('show_prestataire',{'slug':a.username})}}">{{a.username}}</a></h2>
                        <div class="card-row-content">
                            <p>{{a.adresse}} {{a.adressenum}}</p>
                            <p>{{a.codePostal}} {{a.Localite}} {{a.Commune}}</p>

                        </div>
                    </div><!-- /.card-row-body -->

                    <div class="card-row-properties">
                        <dl>





                            <dd>Catégorie(s)</dd> {% for c in a.categories %}<dt>{{c.nomCategorie}} </dt>{% endfor %}



                            <dd>Location</dd><dt>{{ a.localite }}</dt>


                            {# <dd>Rating</dd>
                             <dt>
                             <div class="card-row-rating">
                                 <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                             </div><!-- /.card-row-rating -->
                             
                             </dt>#}
                        </dl>
                    </div><!-- /.card-row-properties -->
                </div><!-- /.card-row-inner -->
            </div><!-- /.card-row -->
            
        </div>

        {% endfor %}


    {% endblock %}