{% extends "layout/layout.html.twig" %}

{% block content %}


    {% if app.user.id == id %}
        <div style="background-color: #fff">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <div>
                            <div class="widget">
                                <div class="user-photo">
                                    <a href="#">
                                        <img src="{{app.user.logo.url}}" alt="User Photo">
                                    </a>
                                </div><!-- /.user-photo -->
                            </div><!-- /.widget -->
                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="content">
                            <div class="page-title">
                                <h1>Modification profil</h1>
                            </div><!-- /.page-title -->

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Information de contact
                                </h3>
                                {{form_start(userForm)}}
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.username, {'label' : 'Login'})}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.email, {'label' : 'E-mail'})}}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.numtel, {'label' : 'Téléphone'})}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.site, {'label' : 'Site internet'})}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.numtva, {'label' : 'Numéro de TVA'})}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.categories, {'label' : 'Catégories'})}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.logo, {'label' : 'Logo'})}}
                                    </div><!-- /.form-group -->
                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.password, {'label' : 'Mot de passe'})}}
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->
                            </div>
                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Adresse
                                </h3>

                                <div class="row">


                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.adresse, {'label' : 'Rue'})}}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        {{form_row(userForm.adressenum, {'label' : 'Numéro'})}}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        {{form_row(userForm.codePostal, {'label' : 'Code postal'})}}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.commune, {'label' : 'Commune'})}}
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        {{form_row(userForm.localite, {'label' : 'Localité'})}}
                                    </div><!-- /.form-group -->
                                    
                                    <div class="form-group col-sm-6">
                                       <button type="submit" class="btn btn-primary btn-xs pull-right">Register</button>
                                    </div><!-- /.form-group -->
                                    
                                     {{ form_row(userForm._token)}}
                                   {{form_end(userForm,{'render_rest':false})}}
                                </div><!-- /.row -->
                            </div>
                        </div><!-- /.content -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
</div><!-- /.main -->
    {% endif %}
{% endblock %}


