{% extends "layout/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="page-title">
                <h1>Update</h1>
            </div>

            {{form_start(userForm)}}
            
            

            <div class="form-group">
                {{form_row(userForm.username)}}
            </div><!-- /.form-group -->

            <div class="form-group">

                {{form_row(userForm.email)}}
            </div><!-- /.form-group -->

            <div class="form-group">

                {{form_row(userForm.password)}}
            </div><!-- /.form-group -->

            <div class="form-group">

                {{form_row(userForm.adresse)}}
            </div><!-- /.form-group -->

            <div class="form-group">

                {{form_row(userForm.adressenum)}}
            </div><!-- /.form-group -->
            <div class="form-group">

                {{form_row(userForm.codePostal)}}
            </div><!-- /.form-group -->
            <div class="form-group">

                {{form_row(userForm.localite)}}
            </div><!-- /.form-group -->
            <div class="form-group">

                {{form_row(userForm.commune)}}
            </div><!-- /.form-group -->
            <div class="form-group">
                {{form_row(userForm.numtel)}}
            </div><!-- /.form-group -->
            <div class="form-group">
                {{form_row(userForm.numtva)}}
            </div><!-- /.form-group -->
            <div class="form-group">
                {{form_row(userForm.site)}}
            </div><!-- /.form-group -->

            <div class="form-group">
                {{form_row(userForm.categories)}}
            </div><!-- /.form-group -->
            <div class="form-group">
                {{form_row(userForm.images)}}
            </div><!-- /.form-group -->
            
            <div class="form-group">
                {{form_row(userForm.newsletter)}}
            </div><!-- /.form-group -->


            {{ form_row(userForm._token)}}

            <button type="submit" class="btn btn-primary pull-right">Register</button>

            {{form_end(userForm)}}
            {#        </form>#}
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
{% endblock %}


