{% extends "layout/layout.html.twig" %}


{% block content %}
    {% if app.user.id == id %}   
    <div class="row marg bottom">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="page-title">
                <h1>Modifier le mot de passe</h1>
            </div>

            {{form_start(userForm)}}
         
            {#vérification à mettre en place#}
            
            {#<div class="form-group">
                {{form_row(userForm.oldpassword, {'label' : 'Ancien mot de passe'})}}
            </div><!-- /.form-group -->#}
            
           
            <div class="form-group">
                {{form_row(userForm.password, {'label' : 'Nouveau mot de passe'})}}
            </div><!-- /.form-group -->
            
            
            <div class="form-group">
{#                {{form_row(userForm.confirmationpwd, {'label' : 'confirmer le nouveau mot de passe'})}}#}
            </div><!-- /.form-group -->
            
            

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xs pull-right">Modifier</button>
            </div><!-- /.form-group -->

            {{ form_row(userForm._token)}}

            {{form_end(userForm,{'render_rest':false})}}
            {#        </form>#}
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
    {% endif %}

{% endblock %}