{% extends "layout/layout.html.twig" %}


{% block content %}
    <div class="row marg bottom">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="page-title">
                <h1>S'enregistrer</h1>
            </div>

            {{form_start(userForm)}}

            <div class="form-group">
                {{form_row(userForm.nom)}}
            </div><!-- /.form-group -->

            <div class="form-group">

                {{form_row(userForm.mail)}}
            </div><!-- /.form-group -->

            {{ form_row(userForm._token)}}
            <button type="submit" class="btn btn-primary pull-right">S'inscrire</button>

            {{form_end(userForm)}}
            {#        </form>#}
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->

{% endblock %}